.states
assets/external/
.web
# =========================
# Reflex
# =========================
.web/
.reflex/
.env
.env.*
*.db

# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*.pyo
*.log

# =========================
# Alembic
# =========================
alembic/versions/*.pyc

# =========================
# Base de datos local
# =========================
db/
*.sqlite3

# =========================
# Docker
# =========================
.env.docker
docker-compose.override.yml

# =========================
# IDEs / Editores
# =========================
.vscode/
.idea/
*.swp
*.swo

# =========================
# Sistema
# =========================
.DS_Store
Thumbs.db

# =========================
# Cache / temporales
# =========================
.cache/
tmp/
logs/
