services:
  app:
    build: .
    ports:
      - "3000:3000"
      - "8000:8000"
    volumes:
      - .:/app
      - /app/.web
      - ./db:/app/db
    shm_size: '2gb' # <--- CRÃTICO: Evita el error EPIPE al dar memoria a Chromium
    cap_add:
      - SYS_ADMIN # <--- Permite que el Sandbox de Chromium funcione en Docker
    environment:
      - WATCHFILES_FORCE_POLLING=true
      - PYTHONUNBUFFERED=1